<!DOCTYPE html>
<html lang="en">
{{template "headStyles" .}}

<body>
    {{template "sidebar" .}}
    <div class="main-content">
        <h3><a class="go-back-button" href="{{ .PreviousURL}}">Go back</a></h3>
        <h2>Model: <strong>{{.Model}}</strong></h2>
        <div class="form-container">
            <form class="create-form">
                <h3>Create new <strong>{{.Model}}</strong></h3>
                {{range .CreateObjectForm.SimpleInputs}}
                    <div class="input-group">
                        <label for="{{.Label}}">{{.Label}}</label>
                        {{if .Disabled}}
                            <input type="{{.Type}}" id="{{.Id}}" name="{{.Name}}" required disabled>
                        {{else}}
                            <input type="{{.Type}}" id="{{.Id}}" name="{{.Name}}" required>
                        {{end}}
                    </div>
                {{end}}
                {{range .CreateObjectForm.SelectInputs}}
                    <div class="input-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                {{end}}
            </form>
        </div>
    </div>
    
</body>
</html>