<!DOCTYPE html>
<html lang="en">
{{template "headStyles" .}}

<body>
    {{template "sidebar" .}}
    <div class="main-content">
        <h2>Model: {{.Model}}</h2>
        <table class="model-detail-table">
            <thead>
                <tr>
                    {{range .ModelObjectsFields}}
                        <th>{{.Name}} ({{.Type}})</th>
                    {{end}}
                    <td>
                        Actions
                    </td>
                </tr>
            </thead>
            <tbody>
                {{range .ModelObjects}}
                    <tr>
                        {{range .FieldsValues}}
                            <td>{{.}}</td>
                        {{end}}
                        <td>
                            <a href="{{ .DetailURL}}">Go</a>
                        </td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</body>
</html>