<!DOCTYPE html>
<html lang="en">
{{template "headStyles" .}}

<body>
    {{template "sidebar" .}}
    <div class="main-content">
        <h3><a class="go-back-button" href="{{ .PreviousURL}}">Go back</a></h3>
        <h2>Model: {{.Model}}</h2>

        <table>
            <thead>
                <tr>
                    {{range .ModelObject.Fields}}
                        <th>{{.Name}} ({{.Type}})</th>
                    {{end}}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{range .ModelObject.FieldsValues}}
                        <td>{{.}}</td>
                    {{end}}
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>