<!DOCTYPE html>
<html lang="en">
{{template "headStyles" .}}

<body>
    {{template "sidebar" .}}
    <div class="main-content">
        <h3><a class="go-back-button" href="{{ .PreviousURL}}">Go back</a></h3>
        <h2>Model: {{.Model}}</h2>
        <table class="model-detail-table">
            <thead>
                <tr>
                    <td colspan="3">
                        Actions
                    </td>
                    {{range .ModelObjectsFields}}
                        <th>{{.Name}} ({{.Type}})</th>
                    {{end}}
                </tr>
            </thead>
            <tbody>
                {{range .ModelObjects}}
                    <tr>
                        <td><a id="{{ .Pk}}-detail" href="{{ .DetailURL}}">Go</a></td>
                        <td><a id="{{ .Pk}}-update" href="{{ .DetailURL}}">Edit</a></td>
                        <!-- <td><a id="{{ .Pk}}-delete" href="#">Delete</a></td> -->
                        <td><span id="{{.DeleteObjectModalData.OpenModalId}}"><a href="#">Delete</a></span></td>
                        {{range .FieldsValues}}
                            <td>{{.}}</td>
                        {{end}}
                    </tr>
                {{end}}

                {{range .ModelObjects}}
                    <!-- <button id="{{.DeleteObjectModalData.OpenModalId}}">Open Modal</button> -->
                    <!-- {{.DeleteObjectModalData}} -->
                    {{template "deleteObjectModal" .DeleteObjectModalData}}
                {{end}}
            </tbody>
        </table>
        <div class="table-button">
            <a href="{{ .AddURL}}"><button>Add</button></a>
        </div>
    </div>
</body>

<script>

    "{{range .ModelObjects}}"
    document.getElementById('{{.DeleteObjectModalData.OpenModalId}}').onclick = function() {
        document.getElementById('{{.DeleteObjectModalData.ModalId}}').style.display = "block";
    }

    document.getElementById("{{.DeleteObjectModalData.DeleteButtonId}}").addEventListener("click", (e) => {
        e.preventDefault();

        fetch("{{ .DeleteURL}}", {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => {
            console.log(response)
            if(response.status >= 200) {
                location.reload()
            }
            return response.json()
        })
        .catch(err => {
            return err.json()
        })
        .then(json => {
            console.log(json)
            const errorMessage = document.getElementById('errorMessage');
            errorMessage.textContent = json["error"]
            errorMessage.classList.remove("hidden")
        })
    })
    "{{end}}"
</script>

</html>