<!DOCTYPE html>
<html lang="en">
{{template "headStyles" .}}

<body>
    {{template "sidebar" .}}
    <div class="main-content">
        <h3><a class="go-back-button" href="{{ .PreviousURL}}">Go back</a></h3>
        <h2>Model: <strong>{{.Model}}</strong></h2>
        <div class="form-container">
            <form class="create-form" id="createForm">
                <h3>Create new <strong>{{.Model}}</strong></h3>
                {{range .CreateObjectForm.SimpleInputs}}
                    <div class="input-group">
                        <label for="{{.Label}}">{{.Label}}</label>
                        {{if .Disabled}}
                            <input type="{{.Type}}" id="{{.Id}}" name="{{.Name}}" required disabled>
                        {{else}}
                            <input type="{{.Type}}" id="{{.Id}}" name="{{.Name}}" required>
                        {{end}}
                    </div>
                {{end}}
                {{range .CreateObjectForm.SelectInputs}}
                    <div class="input-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                {{end}}

                <button type="submit" id="createObject" class="">
                    Submit
                </button>

                <div class="error-message hidden" id="errorMessage"></div>
            </form>
        </div>
    </div>
</body>

<script>
    document.getElementById("createObject").addEventListener("click", (e) => {
        e.preventDefault();

        let object = {}
        "{{range .CreateObjectForm.SimpleInputs}}"
        objectField = document.getElementById("{{.Id}}")
        
        if(objectField.type === "number") {
            object["{{.Id}}"] = parseInt(objectField.value)
        } else {
            object["{{.Id}}"] = objectField.value
        }
        "{{end}}"

        console.log(object)

        fetch('{{ .CreateObjectURL}}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(object)
        })
        .then(response => {
            console.log(response)
            if(response.status === 201) {
                window.location.href = "{{ .RedirectAfterCreateURL}}"
            }
            return response.json()
        })
        .catch(err => {
            return err.json()
        })
        .then(json => {
            const errorMessage = document.getElementById('errorMessage');
            errorMessage.textContent = json["error"]
            errorMessage.classList.remove("hidden")
        })
    })
</script>
</html>