{{define "sidebar"}}
<div class="sidebar">
    <h2 class="admin-name"><a class="admin-name" href="/admin">{{.AdminName}}</a></h2>
    <hr class="sidebar-line">
    <p class="section-title">Models</p>
    <ul class="">
         {{range .Models}}
             <li class="sidebar-item-title"><span class="models-tree"></span><a href="{{.DetailURL}}">{{.Name}}</a></li>
         {{end}}
    </ul>
<!-- 
    <p class="section-title">Another section</p>
    <ul>
        <li class="sidebar-item-title"><span></span><a href="#">Some option</a></li>
        <li class="sidebar-item-title"><span></span><a href="#">Some option</a></li>
        <li class="sidebar-item-title"><span></span><a href="#">Some option</a></li>
        <li class="sidebar-item-title"><span></span><a href="#">Some option</a></li>
        <li class="sidebar-item-title"><span></span><a href="#">Some option</a></li>

    </ul> -->
</div>
{{end}}