body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: normal;
}
.sidebar {
    padding-left: 20px;
    width: 13%;
    /* background-color: #a9ced4; */
    background-color: #92bfc6;
    height: 100vh;
}
.main-content {
    width: 80%;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

span {
    border-bottom: 1px solid;
      border-left: 1px solid;
      height: 1rem;
      width: 1.5rem;
      display: inline-block;
      margin-bottom: 0.3rem;
      margin-left: 1rem;
      margin-right: 2px;
  }

  @media screen and (max-width: 480px) {
    span {
      border-bottom: 1px solid;
      border-left: 1px solid;
      height: 1.4rem;
      width: 2.5rem;
      display: inline-block;
      margin-bottom: 0.3rem;
      margin-left: 1rem;
      margin-right: 2px;
    }
  }

  .sidebar-item-title {
    font-size: medium;
  }

  @media screen and (max-width: 480px) {
    .sidebar-item-title {
      font-size: larger;
    }
  }

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul, ol {
  padding-left: 5px;
  margin-left: 0;
  list-style-type: none; /* This removes bullets and numbers */
}

.models-tree {
  font-size: 14px;
}

.section-title {
    margin-left: 13px;
    font-weight: 500;
}

.model-detail-table {
  font-size: 13.5px;
}

.sidebar-line {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border: rgb(255, 255, 255);
  border-style: solid;
}

.admin-name {
  color: rgb(255, 255, 255);
}




.form-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  text-align: center;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* includes padding and border in the element's width */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus {
  border-color: #0056b3;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #004494;
}