{{define "deleteObjectModal"}}
<div id="{{.ModalId}}" class="general-modal">
    <div class="modal-content">
        <span class="close" id="{{.CloseModalId}}">&times;</span>
        <h3>Are you sure you want to delete this object?</h3>
        <div class="group-button-container">
            <button id="{{.DeleteButtonId}}" type="button" class="btn-delete">Confirm</button>
            <button id="cancel-{{.CloseModalId}}" type="button" class="btn">Cancel</button>
        </div>
    </div>
</div>


<script>

document.getElementById('cancel-{{.CloseModalId}}').onclick = function() {
    document.getElementById('{{.ModalId}}').style.display = "none";
}

document.getElementById('{{.CloseModalId}}').onclick = function() {
    document.getElementById('{{.ModalId}}').style.display = "none";
}

window.onclick = function(event) {
    if (event.target.classList.contains('general-modal')) {
        event.target.style.display = "none";
    }
}
</script>

{{end}}